html, body{
  height: 100%;
}
body{
  background-color: teal;
  /* sticky footer */
  display: flex;
  flex-direction: column;
}
.menu{
  background-color: black;
  position: fixed;
  top: 10;
  left: 0;
  right: 0;
  padding-top:10px;
  padding-bottom: 10px;
  color: white;
}
.cont{
  padding-top: 50px;
  background-color: white;
}
.how{
  background-color: white;
  margin-top: 20px;
}
.ikonka{
  float: left;
  
}

.img-responsive{
  max-width: 100%;
  height: auto;
  display:block;
}
.clear{
  clear: both;
}

  .menu li {
    display: block;
    float: left;
    border: 1px solid #ffffff;
  }
  
  .menu a:link, .menu a:visited {
    display: block;
    text-decoration: none;
    font-family:arial;
    font-weight: bold;
    width:130px;
    text-align: center;
    padding: 4px 0px 4px 0px;
    background-color: #000000;
    color: #ffffff;
    
  }
  
  .menu a:hover {
    background-color: #213873;
    color: #ffffff;
  }
#container{
    /*
    padding-left: 50px;
    padding-right: 50px;
    */
    flex: 1 0 auto;
}
#description{
  background-color: white;
}

#footer{
  flex-shrink: 0;
  background-color: black;
  color: white;
  text-align: center;
}

.menu-firmy li{
   float: left;
   display: block;
}
  .menu-firmy a:link, .menu-firmy a:visited {
    display: block;
    text-decoration: none;
    font-family:arial;
    font-weight: bold;
    width:130px;
    text-align: center;
    padding: 4px 0px 4px 0px;
  }
  .firmy{
    text-align: center;
  }
  #error{
    color: red;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    }
.divfirmy{
    max-height: 150px;
    float: left;
    background-color: white;

    
}
.divfirmy img{
    max-height: 150px;
    width: auto;
}

.divwizytowka {
  margin-top: 7px;
}
/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}